$azul: #0098D6;
$gris: #929799;
$rojo: #E1343A;
$fucsia: #DF388E;
$verde: #00A082;
$claroVerde: rgba(0, 160, 131, 0.1);
$amarillo: #EF8F22;
$morado: #613B8F;
$aqua: #00A3AD;
$lila: #993F91;
$blanco: #fff;

$fontSize: 18px;

// Estilos generales
//****************************************************************
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;

    main {
        flex: 1 0 auto;
        font-family: 'Bryant Pro' !important;
        font-weight: normal;

        b,
        strong {
            font-weight: bold;
        }
    }
}

.row {
    margin-bottom: 0;
}

.content-centered {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valign-centered {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.margin-top {
    margin-top: 35px;
}

.margin-top-xl {
    margin-top: 100px;
}

.margin-top-none {
    margin-top: 0px;
}

.hidden {
    display: none !important;
}

.x-small {
    height: 250px;
}

.fondo {
    background-image: url("../img/fondo.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h3 {
    font-family: 'Bryant Pro';
    font-weight: bold;
}

h5 {
    font-family: 'Bryant Pro';
    font-weight: normal;
}

.text-azul {
    color: $azul;
}

.bck-azul {
    background-color: $azul;

    &:hover,
    &:focus {
        background-color: $blanco;
        border: 1px solid $azul;

        i {
            color: $azul;
        }
    }
}

.text-aqua {
    color: $aqua;
}

.bck-aqua {
    background-color: $aqua;

    &:hover,
    &:focus {
        background-color: $blanco;
        border: 1px solid $aqua;

        i {
            color: $aqua;
        }
    }
}

.text-lila {
    color: $lila;
}

.bck-lila {
    background-color: $lila;
    &:hover,
    &:focus {
        background-color: $blanco;
        border: 1px solid $lila;
        color: $lila;
        i {
            color: $lila;
        }
    }
}

.text-morado {
    color: $morado;
}

.bck-morado {
    background-color: $morado;

    &:hover,
    &:focus {
        background-color: $blanco;
        border: 1px solid $morado;

        i {
            color: $morado;
        }
    }
}

.text-amarillo {
    color: $amarillo;
}

.bck-amarillo {
    background-color: $amarillo;

    &:hover,
    &:focus {
        background-color: $blanco;
        border: 1px solid $amarillo;

        i {
            color: $amarillo;
        }
    }
}

.text-verde {
    color: $verde;
}

.bck-verde {
    background-color: $verde;

    &:hover,
    &:focus {
        background-color: $blanco;
        border: 1px solid $verde;

        i {
            color: $verde;
        }
    }
}

.text-fucsia {
    color: $fucsia;
}

.bck-fucsia {
    background-color: $fucsia;

    &:hover,
    &:focus {
        background-color: $blanco;
        border: 1px solid $fucsia;

        i {
            color: $fucsia;
        }
    }
}

.text-red {
    color: $rojo;
}

.logo-home {
    position: relative;
    width: 40px;
    height: auto;
    float: right;
    right: 20px;
    top: 20px;
}

// ajuste en modal
//****************************************************************
.modal{
    max-height: 80%;
    min-height: 80%;
    width: 90%;

    .modal-content{
        padding: 0;
    }
}

.video-responsive {
    width: auto;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    video {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// ajuste en slider dentro de modal
//****************************************************************
.btn-close {
    position: absolute;
    z-index: 1056;
    height: 30px;
    width: 30px;
    top: 15px;
    left: calc(50% - 15px);
    padding: 5px;
    background: $blanco;
    color: $azul;
    border-radius: 50%;
    border: 1px solid $azul;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    .slides{
        background-color: $azul;
        
        li{
            img{
                float: right;
                width: 50%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                &.full {
                    width: 100%;
                }
            }

            .caption{
                float: left;
                min-width: 50%;
                max-width: 50%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 20px 20px 20px 40px !important;

                hr{
                    width: 200px;
                    margin: 15px 0;
                }
            }
        }
    }


    .indicators{
        bottom: 50% !important;
        right: -50px !important;
        left: auto !important;
        transform: rotate(90deg) !important;
        
        li{
            background-color: $blanco !important;
            
            &.active{
                background-color: $azul !important;
            }
        }
    }

} 

// Flechas de navegación
//****************************************************************
.rows {
    display: flex;
    flex-direction: column;

    i {
        color: $azul;
        margin-bottom: 20px;
        font-size: $fontSize + 12;

        &:first-child,
        &:last-child {
            cursor: pointer;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    span {
        font-family: 'Bryant Pro';
        line-height: 1;
        font-weight: bold;

        &:nth-child(1) {
            margin-top: -5px;
            font-size: $fontSize + 22;
            color: $azul;
        }

        &:nth-child(2) {
            margin: 0 3px 0 10px;
            font-size: $fontSize;
            color: $gris;
        }

        &:nth-child(3) {
            font-size: $fontSize;
            color: $gris;
        }
    }
}

// Rueda central
//****************************************************************
.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .circulo {
        position: absolute;
        min-width: 360px;
        max-width: 360px;
        min-height: 360px;
        max-height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &.azul {
            background-color: $azul;
        }

        &.morado {
            background-color: $morado;
        }

        &.aqua {
            background-color: $aqua;
        }

        &.amarillo {
            background-color: $amarillo;
        }

        &.lila {
            background-color: $lila;
        }

        &.fucsia {
            background-color: $fucsia;
        }

        &.verde {
            background-color: $verde;
        }

        img {
            width: 45%;
            height: auto;
            margin-bottom: 15px
        }

        p {
            font-family: 'Bryant Pro';
            font-weight: bold;
            font-size: $fontSize + 2;
            line-height: 1;
        }
    }
}

// Trancisión circulo de colores
//****************************************************************
#sections {
    transition: 2s linear;
}

// Enlaces a la derecha
//****************************************************************
.enlaces {
    a {
        display: block;
        margin-bottom: 10px;
        font-family: 'Bryant Pro';
        font-weight: bold;
        font-size: $fontSize - 4;
        line-height: 1;
        color: $azul;

        >span {
            color: $rojo;
        }

        .animation {
            position: absolute;
            margin-top: 0px;
            margin-left: -25px;
            width: 10px;
            height: 10px;
            transform: translateY(5px) translateX(-15px) rotate(-45deg);

            >span {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid $azul;
                border-right: 1px solid $azul;
                animation: enlaces 1.2s linear infinite;
                opacity: 0;

                &:nth-child(1) {
                    transform: translateY(-10px) translateX(-10px);
                    animation-delay: -0.4s;
                }

                &:nth-child(2) {
                    transform: translateY(0px) translateX(0px);
                    animation-delay: -0.2s;
                }

                &:nth-child(3) {
                    transform: translateY(10px) translateX(10px);
                    animation-delay: 0s;
                }
            }
        }
    }
}

@keyframes enlaces {
    0% {
        opacity: 0;
        margin-left: -5px;
        margin-top: -5px;
    }

    25% {
        opacity: 1;
        margin-left: 0px;
        margin-top: 0px;
    }

    100% {
        opacity: 0;
        margin-left: 5px;
        margin-top: 5px;
    }

}


// Cards
//****************************************************************
.card {
    border-radius: 10px;

    .card-image {
        img {
            border-radius: 10px 10px 0 0;
        }
    }

    &.medium{

        .card-content{
            max-height: inherit !important;
        }
    }

    .card-content {
        padding: 15px 15px 40px;
        text-align: center;

        p{
            i{
                color: $amarillo;
                margin-right: 5px;
            }
        }

        .btn-floating {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0px;
            right: 0;
            border-radius: 50% 50% 10px;

            i {
                font-weight: bolder;
            }
        }
    }
}

.part{
    width: 130%;

    &.part2 {
        margin-left: -30px;
    }
    &.part3 {
        margin-left: -60px;
    }
    &.part4 {
        margin-left: -90px;
    }
    &.part5 {
        margin-left: -120px;
    }
}

.ajuste{
    height: 100px;

    p{
        margin: 0 0 28px 0;
    }

    ~ div{
        height: 40px;
        width: max-content;
        display: flex;
        align-items: center;
        margin-top: 10px;

        img{
            width: 40px;
            height: auto;
            margin-right: 5px
        }

        p{
            margin: 0;
            font-size: 13px;
        }

    }

    &.part1{

        &~div{
            margin-left: 20px;
        }
    }

    &.part2 {
        margin-left: 35px;

        p{
            margin-bottom: 0 !important;
        }

        span{
            position: absolute;
            margin-left: -20px;
            margin-top: 10px;
        }
    }
    &.part3 {
        margin-left: -10px;

        span{
            position: absolute;
            margin-left: -20px;
            margin-top: 10px;
        }

        &~div{
            margin-left: -35px;
        }
    }
    &.part4 {
        margin-left: -30px;

        span{
            position: absolute;
            margin-left: -20px;
            margin-top: 10px;
            z-index: -1;
        }

        &~div{
            margin-left: -60px;
        }
    }
    &.part5 {
        margin-left: -70px;
        height: 80px;
        margin-top: 20px;

        p{
            margin-bottom: 0 !important;
        }

        span{
            position: absolute;
            margin-left: -20px;
            margin-top: 9px;
            z-index: -1;
        }
    }
}


.menu{
    div{
        img{
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .active{
        hr{
            border: 2px solid;
            border-color: $verde;
        }

        h6{
            color: $verde;
            font-weight: 900;
        }
    }
}

.grouper{
    margin-top: 50px;
    margin-left: .75rem !important;
    height: 15px;
    border: 3px solid $verde;
    border-bottom: 0px;
    border-radius: 20px 20px 0 0;
    background-color: $claroVerde;
    width: 760px;

    .selector{
        position: absolute;
        margin-top: -66px;
        margin-left: 170px;

        img{
            width: 45px
        }
    }
}

.selectable{
    margin-left: .75rem !important;

    div{
        height: 110px;
        border-right: 1px dashed $verde;
        
        &.selected{
            background-color: $claroVerde;
            
            p{
                font-weight: bolder;
            }
        }
    }
}

@media only screen and (min-width: 1049px) and (max-width: 1320px ) {
    .circulo {
        min-width: 280px !important;
        max-width: 280px !important;
        min-height: 280px !important;
        max-height: 280px !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1048px ) {
    .circulo {
        min-width: 260px !important;
        max-width: 260px !important;
        min-height: 260px !important;
        max-height: 260px !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px ) {
    .content-centered {
        min-height: auto;
    }

    .circulo {
        min-width: 580px !important;
        max-width: 580px !important;
        min-height: 580px !important;
        max-height: 580px !important;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px ) {
    .circulo {
        min-width: 345px !important;
        max-width: 345px !important;
        min-height: 345px !important;
        max-height: 345px !important;
    }
}

@media only screen and (max-width: 425px ) {
    .circulo {
        min-width: 250px !important;
        max-width: 250px !important;
        min-height: 250px !important;
        max-height: 250px !important;
    }
}
